.book {
  position: relative;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  color: $color-black;
  padding-bottom: 8px;

  &::after {
    content: '';
    position: absolute;
    border: 1px solid $color-black;
    width: 136px;
    bottom: 0;
    left: 0;
  }
}

input, .contact__message {
  border: none;
  padding: 0 16px;
  outline: none;
  border-radius: 40px;
  height: 48px;
  background: $color-input-bg;
  font-family: $primary-font;

  &::placeholder {
    color: $color-gray-text;
  }
}

.btn {
  @include desktop {
    padding: 14px 131px;
  }
  padding: 14px 131px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: $color-black;
  background: $color-white;
  border-radius: 40px;
  transition: $transition-speed;

  &:hover {
    box-shadow: 1px 4px 16px 0 $color-shadow;
    background: $color-white;
  }
}

.link__wrapper {
  text-align: center;
  padding-top: 48px;
}

.contact__message {
  border-radius: 16px;
  padding: 14px 16px;
  min-height: 148px;
}
