.compare-bikes {
  margin-top: 92px;

  &__title {
    margin: 0 0 48px;
    font-weight: 500;
    font-size: 32px;
    text-align: center;

    @include desktop {
      font-size: 64px;
      font-weight: normal;
      padding-top: 164px;
    }
  }
}

.bikes__wrapper {
  @include desktop {
    display: flex;
    justify-content: center;
    gap: 80px;
  }
}

.bike {
  &__card {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 0;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;

    @include tablet {
      width: 392px;
      height: 44px;
    }

    @include desktop {
      height: 66px;
      width: 324px;
    }
  }

  &__price {
    font-weight: 700;
    font-size: 24px;
  }

  &__img {
    transition: $menu-transition;

    &:hover {
      transform: scale(1.2);
      cursor: pointer;
    }

    @include tablet {
      width: 392px;
      height: 316px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    @include desktop {
      width: 324px;
      height: 256px;
    }
  }
}
