.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 80px;

  @include tablet {
    margin-bottom: 102px;
  }

  &__wrapper {
    @include tablet {
    display: flex;
    flex-direction: row;
    gap: 24px;
    }

    @include desktop {
      gap: 198px;
    }
  }


  &__title {
    font-size: 32px;
    font-weight: normal;
    text-align: center;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
  }

  &__info {
    margin: 24px 0 120px;

    @include tablet {
      margin: 0 0 120px;
  }
}

.info__name {
  margin: 24px 0 8px;
  font-weight: 400;
  font-size: 14px;
}
}

.contact-number {
  font-weight: 600;
  text-transform: uppercase;
  color: $color-black;
}
