.details {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    font-weight: normal;
    font-size: 32px;
    text-align: center;
    margin-top: 92px;
    margin-bottom: 8px;

    @include desktop {
      padding-top: 144px;
      font-size: 64px;
    }
  }

  &__block {
    margin: 40px 0;

    @include desktop {
      margin: 60px 0;
    }
  }

  &__img-wrapper {
    display: flex;
    gap: 20px;
  }
}

.block {
  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    margin-bottom: 8px;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    
    @include desktop {
      width: 672px;
      height: 44px;
    }
  }
}
