.footer {
  background: url(../images/bike-footer.png) no-repeat center / cover;
  width: 100vw;
  height: 200px;

  @include tablet {
    height: 480px;
  }
  
  @include desktop {
    height: 555px;
  }
}
