.header {
  height: 566px;
  background: url(../images/main_background.png) no-repeat 90% center / cover;

  @include desktop {
    height: 100vh;
  }

  &__top {
    padding: 0 $container-padding;
    height: 86px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet {
      padding: 0 72px;
    }
    
    @include desktop {
      padding: 0 120px;
    }
  }

  &__title {
    margin: 0;
    padding-top: 330px;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: -0.04em;
    text-align: center;

    @include tablet {
      font-size: 64px;
    }

    @include desktop {
      font-size: 80px;
      padding-top: 460px;
    }
  }
}
