.section__home {
  @include tablet {
      display: flex;
      gap: 80px;
      padding-bottom: 60px;
      padding-top: 120px;
      align-items: first baseline;
    }

  @include desktop {
    display: flex;
    align-items: flex-start;
    gap: 200px;
    padding-top: 120px;
  }
}

.home {
  padding-bottom: 60px;

  &__title {
    margin: 0;
    padding-top: 60px;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.05em;

    @include tablet {
      font-size: 48px;
    }

    @include desktop {
      font-size: 61px;
    }
  }

  &__desc {
    font-weight: 500;
    font-size: 23px;
    line-height: 140%;

    @include tablet {
      width: 288px;
      height: 192px;
    }

    @include desktop {
      width: 500px;
      height: 96px;
    }
  }
}
