body {
  font-family: $primary-font;
  margin: 0;
  color: $color-white;
  font-weight: 500;
  overflow-x: hidden;
  max-width: 100%;
  background: $color-bg-dark;
}

html {
  position: relative;
  scroll-behavior: smooth !important;

  &:has(.page__menu:target) {
    overflow: hidden;

    body {
      overflow: hidden;
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  padding: 0 $container-padding;

  @include tablet {
    margin: 0 auto;
    width: 600px;
  }

  @include desktop {
    margin: 0 auto;
    width: 1000px;
  }
}
